<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hell.mygames">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="hell.mygames.puzzle8.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <uses-feature android:name="android.hardware.camera"
            android:required="true" />



        <activity
            android:name=".GameMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:theme="@style/AppTheme.NoActionBar"
            android:name=".mathGame.MathGame"
            android:label="@string/title_activity_math_game"
            android:screenOrientation="portrait"></activity>
        <activity

            android:theme="@style/AppTheme.NoActionBar"
            android:name=".mathGame.playMathGame"
            android:label="@string/title_activity_play_math_game"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".memoryGame.MemoryGame"
            android:label="@string/title_activity_memory_game"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".memoryGame.playMemoryGame"
            android:label="@string/title_activity_play_memory_game"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".anagrams.AnagramsActivity"
            android:label="Anagrams"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".scarnedice.DiceActivity"
            android:label="Scarne's Dice"
            android:screenOrientation="portrait"/>
        <activity android:name=".ghost.GhostActivity"
            android:label="GHOST"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".puzzle8.PuzzleActivity"

            android:label="Puzzle8"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".wordladder.WordSelectionActivity"

            android:label="Word Ladder"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".wordladder.SolverActivity"></activity>

    </application>

</manifest>